<div class="login-wrapper">
  <h1 class="tui-text_h1">Login</h1>

  <form class="form-wrapper" [formGroup]="loginForm">
    <label tuiLabel class="tui-space_bottom-4">
      Enter a name
      <tui-input formControlName="name" tuiTextfieldSize="m"  [tuiTextfieldLabelOutside]="true" >
        <input placeholder="Put your name here" tuiTextfieldLegacy />
      </tui-input>

      <tui-error formControlName="name" [error]="[] | tuiFieldError | async" />
    </label>

    <label tuiLabel class="tui-space_bottom-4">
      Enter a password
      <tui-input-password formControlName="password" tuiTextfieldSize="m"  [tuiTextfieldLabelOutside]="true" >
        <input placeholder="Make it secure!" tuiTextfieldLegacy />
      </tui-input-password>
      <tui-error formControlName="password" [error]="[] | tuiFieldError | async" />
    </label>

    <div class="form-submit tui-space_vertical-4">
      <button
        appearance="primary"
        tuiButton
        (click)="submitForm()"
      >
        Submit form
      </button>
    </div>
  </form>
</div>
