<ng-container *ngIf="activeChannel$ | async as channel; else error">
  <!--@if (activeChannel$ | async) {-->
  <h2 class="tui-text_h2">#{{ channel.name }}</h2>
  <div class="messages-wrapper tui-space_bottom-4">
    @for (message of channelMessages$ | async; track message.id) {
      <div class="message">
        <b>{{ getUserName(message.from_user) }}</b
        ><br />
        <span class="tui-space_bottom-2">
          {{ message.content }}
        </span>
      </div>
    } @empty {
      <p class="empty">No messages yet</p>
    }
  </div>
  <div class="message-input-wrapper">
    <tui-input class="message-input" [formControl]="newMessageControl" tuiTextfieldSize="m" [tuiTextfieldLabelOutside]="true">
      <input tuiTextfieldLegacy />
    </tui-input>
    <button appearance="primary" iconStart="@tui.arrow-right" size="m" tuiIconButton (click)="sendMessage()">
      Send
    </button>
  </div>
</ng-container>
<!--} @else {-->
<!--  <div class="error">Select active channel to see messages</div>-->
<!--}-->
<ng-template #error>
  <div class="error">Select active channel to see messages</div>
</ng-template>
